body {
    background-color:tan;
font-family: Helvetica, sans-serif
color:black;

}
#trail{
 position:absolute;
top:0;
right:0;
}
 
header, main, footer {
    width: 900px;
    height: 500px;
    background-color:khaki;
    margin:auto;
    font-size:17px;
    text-align:right;  
}
/* HEADER STYLES START */

header {
    padding-right: 25;
    width: 950px;
}

header, main, footer {
 border-bottom:black 7px solid;
border-top:black 7px solid; 
text-align:center; 
color:black;
line-height:82px;
}   
header h1 {
    font-size: 48px;
    text-align: left;
    line-height: 84px;
}


#title-container {
    margin-left: 200px;
    padding:25px;
}


nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
   
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    
}

nav ul li:hover {
    background-color: coral;
   padding:42px;
}

nav ul li a {
    text-decoration: none;
    background-color:red;
    width:180px;
    height:125px;
}

nav ul li a:link {
    color: black;
background-color:red;
width:180px;
height:120px;
padding:25px;
}

nav ul li a:visited {
    color:black;
    background-color:red;
    
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a:active {
     /* color: lightpink; */
}

/* HEADER STYLES END */

/* FOOTER STYLES START */

footer {
    color: turquoise;
    line-height: 48px;

}


 

#social-links ul {
    text-align: center;
    margin-bottom: 20px;
}

#social-links ul li {
    display: inline-block;
    border: solid 12px black;
    border-radius: 10px;
    padding: 50;
}

#social-links ul li {
    line-height: 100%;
    box-sizing: border-box;
}

#social-links ul li a {
    display: block;
    padding: 8px;
}
/* 
#social-links ul li:hover {
    color: white;
    background-color: turquoise;
} */

#social-links ul li a:link {
    text-decoration: none;
    color: turquoise;
}

#social-links ul li a:visited {
    color: turquoise;
}

#social-links ul li a:hover {
 color: white;
 background-color: turquoise;
}



/* FOOTER STYLES END */

/* MAIN DEFAULT STYLES START */

main {

}

main h1 {
    
    /* text-transform: uppercase; */
}

main p {
    font-size: 24px;
}

/* MAIN DEFAULT STYLES END */

/* HOMEPAGE STYLE START */
    main#homepage p {
        margin: 20px;
        line-height: 30px;
        text-align: justify;
    }
/* HOMEPAGE STYLE END */

/* GALLERY STYLE START */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#gallery div {
    width: 200px;
}

#gallery div img {
    width: 200px;
    margin-bottom: 20px;
}

/* GALLERY STYLE END */

/* CONTACT STYLE START */

#contact > hr {
    border: dotted 2px turquoise;
}

#contact-flexbox {
    display: flex;
}

#portrait { 
    top:0;
    float:left;
    }